*{
    padding : 0;
    margin : 0;
}

.chewy-regular {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    /* font-style: normal; */
    color: white;
  }
  
body{
    background-image: linear-gradient(to bottom, black,  rgb(0, 213, 255));
    height: 100vh;
    background-repeat: no-repeat;
    /* background-color: rgb(46, 46, 46); */
}

#start-btn{
    background-color: rgb(80, 80, 80);
    color: white;
    border: none;
    padding: 15px 15px;
    border-radius: 25px;
    font-size: 35px;
    margin-left: 43%;
    box-shadow: 0px 0px 10px rgb(80, 80, 80);
    cursor: pointer;
    animation: popOut 2s ease-out;
}

#start-btn:hover{
    background-color: rgb(0, 213, 255);
    color: black;
    box-shadow: 0px 0px 20px rgb(80, 80, 80);
    transition: all 0.3s ease;
}

#start-btn:active{
    transform: scale(0.90);
    box-shadow: 0px 0px 10px rgb(80, 80, 80);
}

@keyframes popOut {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes rotateIn {
    0% {
        transform: rotateX(40deg) rotateY(60deg) scale(0.5);
        opacity: 0.5;
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg) scale(1);
        opacity: 1;
    }
}

